<hr />
<board-announcement-list></board-announcement-list>
<head>
<link rel="stylesheet" href="board.component.css">
</head>
<body>
  
    <div class="search-bar">
      <button>&#9776;</button>
      <input type="text" placeholder="Пошук...">
      <button>&#128269;</button>
    </div>
  
    <div class="notice-board">
      <p>Ваші оголошення</p>
    </div>
    <button class="btn btn-primary" (click)="openModal(addAnnouncementModal)">+</button>

    <ng-template #addAnnouncementModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title">Add Announcement</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <app-board-add-announcement></app-board-add-announcement>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
